@import '../../components/styles/Colors.module.scss';
@import '../../components/styles/Typography.scss';

.ProductsPage {
  &Title {
    margin-bottom: 8px;
  }
}

.page__container {
  max-width: 1200px;
  padding: 32px;
  margin: 0 auto;

  @media screen and (max-width: 779px) {
    padding: 24px;
  }

  @media screen and (max-width: 639px) {
    padding: 16px;
  }
}

.Cards {
  &Ammount {
    color: $secondary-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;

    margin-bottom: 40px;
  }

  &Selects {
    display: flex;
    gap: 16px;
    flex-flow: row;
    justify-content: flex-start;

    margin-bottom: 24px;
  }

  &Loader {
    height: 50vh;
  }
}
