$primary-color: #0f0f11;
$elements-color: #e2e6e9;
$icons-color: #b4bdc3;

.pagination {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  padding: 40px 0 80px;
  background-color: rgba(250, 251, 252, 1);

  user-select: none;
  list-style: none;

  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin-right: 8px;

    border-radius: 50%;
    border: 1px solid $elements-color;
    color: $primary-color;

    text-align: center;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;

    cursor: pointer;
    transition: 0.3s;

    &_last {
      margin-right: 0;
    }

    &_active {
      color: #fff;
      background-color: $primary-color;
      border: 1px solid $primary-color;
    }

    &:hover:not(.pagination__arrow_disabled) {
      border: 1px solid $primary-color;
    }
  }

  &__arrow {
    color: $primary-color;
    border-color: $icons-color;
    margin-right: 0;

    &_right {
      margin-left: 16px;

      transform: rotate(180deg);
    }

    &_left {
      margin-right: 16px;
    }

    &_disabled {
      color: $icons-color;
      border-color: $elements-color;
    }
  }
}

@media screen and (max-width: 1199px) {
  .pagination {
    padding: 40px 0 80px;
  }
}

@media screen and (max-width: 779px) {
  .pagination {
    padding: 40px 0 64px;
  }
}

@media screen and (max-width: 639px) {
  .pagination {
    padding: 24px 0 64px;
  }
}
