@import '../../../../assets/colors/colors';

.SearchBar {
  display: flex;
  align-items: center;

  &__dropdown {
    width: 300px;
    position: relative;

    @media (min-width: 1200px) {
      &::before {
        position: absolute;
        left: 10px;
        top: 50%;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
        content: '';
        background-image: url('../../../../assets/icons/Search.svg');
        background-size: contain;
        background-repeat: no-repeat;
      }
    }

    @media (max-width: 1199px) {
      position: fixed;
      width: 100vw;
      top: 48px;
      left: 0;
      z-index: 10;
    }

    input {
      width: 400px;
      background-color: #fff;
      font-size: 14px;
      outline: 0;
      padding: 20px 8px;
      border: 0;
      border-left: 1px solid $elements;

      @media (max-width: 1199px) {
        width: 100vw;
      }

      @media (min-width: 1200px) {
        padding-left: 36px;
      }
    }
  }

  &__searchIcon {
    display: none;
    width: 48px;
    height: 48px;
    border-left: 1px solid $elements;

    @media (max-width: 1199px) {
      position: relative;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    img {
      cursor: pointer;
    }
  }
}
