@import '../../assets/colors/colors';

.ProductImageSelector {
  position: relative;
  max-width: 464px;

  margin-left: 96px;

  &Loader {
    height: 442px;
  }

  @media (max-width: 639px) {
    width: 288px;
    margin: 0 auto;
    margin-bottom: 32px;

    &Loader {
      height: 274px;
    }
  }
}

.custom-dot {
  width: 80px;
  height: 80px;

  border: 1px solid $elements;

  @media (max-width: 639px) {
    width: 50px;
    height: 50px;
  }

  &--active {
    border-color: $primary;
  }
  img {
    height: 66px;
    @media (max-width: 639px) {
      height: 40px;
    }
  }
}

.DotList {
  position: absolute;
  display: flex;
  flex-direction: column;
  max-width: max-content;
  left: -96px;
  gap: 16px;
  @media (max-width: 639px) {
    flex-direction: row;
    left: 0;
    bottom: -66px;
  }
}

.ProductImage {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 442px;
    @media (max-width: 639px) {
      max-height: 274px;
    }
  }
}
