
$primary-color: #0f0f11;

.CategoriesWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.Title {
  color: $primary-color;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 140%;
  margin-bottom: 24px;
}


@media screen and (min-width: 640px) {
  .CategoriesWrapper {
    flex-direction: row;
    gap: 16px;
  }

  .Title{
    color: $primary-color;

    font-size: 32px;
    line-height: 41px;
    letter-spacing: -0.32px;
  }
}

