@import './../../assets/variables/mediaQueries';


@include onPhone {
  .countContainer {
    position: relative;
    bottom: 7px;
    right: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 14px;
    width: 16px;
    padding: 7px 5px;
    background-color: #4219D0;
    border-radius: 50%;
    border: 1px solid #fff;
  }
}

@include onTablet {
  .countContainer {
    left: 66%;
  }
}

.numberOfItems {
  color: #fff;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
