.countContainer {
  position: absolute;
  top: -40%;
  right: -55%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  padding: 7px 5px;
  background-color: #4219d0;
  border-radius: 50%;
  border: 1px solid #fff;
}

.numberOfItems {
  color: #fff;
  font-size: 0.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (min-width: 639px) {
  .countContainer {
    right: 10%;
    top: 15%;
  }
}

@media (min-width: 1200px) {
  .countContainer {
    right: 20%;
    top: 20%;
  }
}
