@import '../../components/styles/Colors.module.scss';

.Order {
  &Container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    flex-grow: 1;
    background-color: #fff;
    border-radius: 16px;
    border: 1px solid $elements-color;
  }

  &Data {
    display: flex;
    flex-direction: column;
  }

  &Image {
    width: 45px;
    padding: 5px;
    height: 70px;
  }

  &ServiceData{
    color: $secondary-color;
    margin-bottom: 5px;
  }

  &AmountText{
    color: $secondary-color;
  }
}

@media screen and (min-width: 640px) {
  .Order {
    &Container {
      flex-direction: row;
    }
  }
}

@media screen and (min-width: 1200px) {

}
