.cards__container {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  column-gap: 16px;
  justify-content: center;
}

@media screen and (max-width: 1200px) {
  .cards__container {
    grid-template-columns: repeat(3, 1fr); /* Distribute available space among 3 columns */
  }
}

@media screen and (max-width: 760px) {
  .cards__container {
    grid-template-columns: repeat(2, 1fr); /* Distribute available space among 2 columns */
  }
}

@media screen and (max-width: 640px) {
  .cards__container {
    grid-template-columns: 1fr;
  }
}
