.page__container {
  max-width: 1200px;
  padding: 32px;
  margin: 0 auto;
}

.cards__container {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  column-gap: 16px;
  row-gap: 40px;
  padding-bottom: 0;
  background-color: rgba(250, 251, 252, 1);
}

@media screen and (max-width: 1199px) {
  .cards__container {
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 0;
  }
}

@media screen and (max-width: 779px) {
  .cards__container {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 0;
  }

  .page__container {
    padding: 24px;
  }
}

@media screen and (max-width: 639px) {
  .cards__container {
    grid-template-columns: 1fr;
    padding-bottom: 0;
  }

  .page__container {
    padding: 16px;
  }
}
