@import '../../assets/colors/colors';

.service_btn {
  width: 48px;
  display: none;
  cursor: pointer;
  background: transparent;
  border: none;
  border-left: 1px solid $elements;

  &_img {
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease-in-out;
  }

  &-active {
    background-color: $white;
  }

  &:hover .service_btn_img {
    transform: scale(1.1);
  }
}

@media (max-width: 639px) {
  .service_btn {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
