// rgba(226, 230, 233, 1)
$primary-color: #0f0f11;
$elements-color: #e2e6e9;
$secondary-color: #b4bdc3;

.item__container {
  display: flex;
  background-color: #fff;
  align-items: center;
  padding: 24px;
  justify-content: center;
  gap: 24px;
  flex-grow: 1;
  border-radius: 16px;
  border: 1px solid $elements-color;

  &_close {
    color: $secondary-color;
    width: 16px;
    height: 16px;
  }

  &_phone {
    height: 80px;
  }

  &_model {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: $primary-color;
  }

  &_buttons {
    display: flex;
    gap: 13px;
    align-items: center;
    justify-content: center;
  }

  &_minus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid $secondary-color;
    cursor: pointer;

    &_disabled {
      color: $secondary-color;
      cursor: auto;
      border: 1px solid $elements-color;
    }
  }

  &_number {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;

    width: 32px;
    text-align: center;
  }

  &_plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #fff;
    border: 1px solid $secondary-color;
    cursor: pointer;
  }

  &_price {
    font-size: 22px;
    font-weight: 800;
    line-height: 140%;
  }
}

.item_phone_info{
  display: flex;
  align-items: center;
  gap: 24px;
}

.item_price_info{
  display: flex;
  justify-content: space-around;
  gap: 48px;
}


@media screen and (max-width: 639px) {
  .item__container {
    flex-direction: column;
    padding: 16px;
    gap: 16px;
    // flex-grow: 1;

    &_model {
      max-width: 128px;
    }
  }

  .item_phone_info{
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-self: stretch;
  }

  .item_price_info{
    display: flex;
    justify-content: space-around;
    align-self: stretch;
    gap: 48px;
  }
}

