$primary-color: #0f0f11;
$elements-color: #e2e6e9;
$secondary-color: #b4bdc3;

.item__container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  gap: 16px;
  flex-grow: 1;

  background-color: #fff;
  border-radius: 16px;
  border: 1px solid $elements-color;

  &_close {
    width: 16px;
    height: 16px;

    color: $secondary-color;

    :hover {
      transition: 0.3s;
      color: $primary-color;
    }
  }

  &_phone {
    object-fit: contain;
    object-position: center;
    height: 80px;
    width: 80px;
  }

  &_model {
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    color: $primary-color;
    width: 180px;
  }

  &_buttons {
    display: flex;
    gap: 1px;
    align-items: center;
    justify-content: center;
  }

  &_minus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;

    border-radius: 50%;
    background-color: #fff;
    border: 1px solid $secondary-color;
    cursor: pointer;
    transition: border 0.3s;
    transition: color 0.3s;

    &_disabled {
      color: $secondary-color;
      cursor: auto;
      border: 1px solid $elements-color;
    }

    &:hover:not(.item__container_minus_disabled) {
      border: 1px solid $primary-color;
    }
  }

  &_number {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;

    width: 38px;
    text-align: center;
  }

  &_plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;

    border-radius: 50%;
    background-color: #fff;
    border: 1px solid $secondary-color;
    cursor: pointer;

    transition: border 0.3s;
    transition: color 0.3s;

    &_disabled {
      color: $secondary-color;
      cursor: auto;
      border: 1px solid $elements-color;
    }

    &:hover:not(.item__container_plus_disabled) {
      border: 1px solid $primary-color;
    }
  }

  &_price {
    font-size: 22px;
    font-weight: 800;
    line-height: 140%;
    width: 76px;
  }
}

.itemLink {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.itemLink:hover {
  text-decoration: underline;
  color: #0f0f11;
}

.item_phone_info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-self: stretch;
  gap: 24px;
}

.item_price_info {
  display: flex;
  align-self: stretch;
  justify-content: space-around;
  gap: 48px;
}

@media screen and (min-width: 640px) {
  .item__container {
    flex-direction: row;
    padding: 24px;
    gap: 24px;
  }

  .item_phone_info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    align-self: stretch;
  }

  .item_price_info {
    align-self: center;
  }
}
