$primary-color: #0f0f11;
$secondary-color: #89939a;
$elements-color: #e2e6e9;
$icons-color: #b4bdc3;

.home {
  display: flex;
  flex-direction: column;
  margin: 0 16px 64px;
  gap: 57px;
  max-width: 1200px;

  &Title {
    color: $primary-color;
    font-style: normal;
    font-weight: 800;
    margin-bottom: 24px;

    &Main {
      margin: 24px 0 ;
      font-size: 32px;
      font-weight: 800;
      line-height: 41px;
      letter-spacing: -0.32px;
    }

    &Secondary {
      text-align: left;
      font-size: 22px;
      line-height: 140%;
    }
  }

  &MainSlider {
    min-width: 320px;
    max-width: 1100px;
    height: 400px;
    background-color: $primary-color;
  }

  &NewModelsSlider {
    background-color: green;
    width: 300px;
    height: 439px;
  }

  &HotPrices {
    background-color: $primary-color;
    min-width: 300px;
    height: 439px;
  }

  &Categories {
    display: flex;
    flex-direction: column;
  }

  &CategoryItemWrapper {
    margin-bottom: 32px;
  }

  &CategoryItem {
    width: 288px;
    height: 288px;
    margin-bottom: 24px;
    border-radius: 8px;
    background: #6d6474;

    &Title {
      margin-bottom: 4px;
      color: $primary-color;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    &Description {
      color: $secondary-color;

      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 21px;
    }
  }
}

@media screen and (min-width: 640px) {
  .home {
    margin: 0 24px 64px;
    gap: 64px;
    align-items: center;

    &Title {
      &Main {
        margin: 32px 0 ;
      }
    }

    &Categories {
      flex-direction: row;
      gap: 16px;
    }
    &CategoryItem {
      width: 187px;
      height: 187px;
    }
  }
}

@media screen and (min-width: 1200px) {
  .home {
    margin: 0 32px 80px;
    gap: 80px;

    &Title {
      &Main {
        margin: 56px 0 ;
      }
    }

    &CategoryItem {
      width: 368px;
      height: 368px;
    }
  }
}

@media screen and (min-width: 1400px) {
  .home {
    margin: 0 auto 64px;
    gap: 64px;
  }
}
