@import '../../assets/colors/colors';

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;

  &__container {
    max-width: 1200px;
    width: 100%;
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex: 1;
    }

    &__logo:hover {
      animation: wave 2s infinite linear;
    }

    &__links {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex: 2;
    }

    &__up {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      font-size: 14px;
      font-weight: 800;
      flex: 1;
      gap: 16px;
      color: rgba(137, 147, 154, 1);
      cursor: pointer;
      transition: color 0.3s;
    }
  }
}

.link {
  font-size: 12px;
  font-weight: 600;
  line-height: 11px;
  text-transform: uppercase;
  letter-spacing: 0.48px;
  text-decoration: none;
  color: rgba(137, 147, 154, 1);
  transition: color 0.3s;

  &:hover {
    color: $primary;
  }
}

.button__up {
  display: flex;
  width: 32px;
  height: 32px;
  background-color: #fff;
  border: 1px solid rgba(180, 189, 195, 1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  cursor: pointer;
}

.footer__container__up :hover, .button__up:hover, .up__text:hover {
  color: $primary;
  border-color: $primary;
  transition: color 0.3s;
  transition: border-color 0.3s;
}

@media screen and (max-width: 639px) {
  .footer__container {
    display: flex;
    width: 320px;
    padding: 32px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;

    &__logo {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: stretch;
    }

    &__links {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      align-self: stretch;
    }

    &__up {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 16px;
      align-self: stretch;
    }
  }
}

@keyframes wave {
  0%, 100% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-4px);
  }
  75% {
    transform: translateY(4px);
  }
}
