.container {
  max-width: 1200px;
  width: 100%;
  padding: 32px 32px 0px;
  align-items: center;
  margin: 0 auto;

  @media screen and (max-width: 1199px) {
    padding: 24px 24px 0px;
  }

  @media screen and (max-width: 639px) {
    padding: 16px 16px 0px;
  }

}

.BreadCrumbs {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  height: max-content;
}

.arrow {
  display: inline-block;
  transform: rotate(180deg);
  width: 16px;
  color: #b4bdc3;
  margin-right: 8px;
 }

 .home {
  display: block;
  width: 16px;
 }

 .breadcrumb {
  font-size: 15px;
  font-style: normal;
  font-weight: 600;
  color: #89939a;

  &--active {
    color: #0f0f11;
    text-decoration: none;
  }
 }
