@font-face {
  font-family: 'Mont-light';
  src: url('../src/assets/fonts/Mont-ExtraLightDEMO.otf');
}

@font-face {
  font-family: 'Mont-heavy';
  src: url('../src/assets/fonts/Mont-HeavyDEMO.otf');
}

* {
  font-family: Mont-light, Mont-heavy;
}