@import '../../components/styles/Typography.scss';
@import '../../components/styles/Colors.module.scss';

.cards__container {
  display: grid;
  grid-template-columns: repeat(4, 270px);
  column-gap: 16px;
  row-gap: 40px;
  padding-bottom: 0;
  background-color: rgba(250, 251, 252, 1);
}

.Cards {
  &Ammount {
    color: $secondary-color;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 21px;

    margin-bottom: 40px;
  }

  &Loader {
    height: 50vh;
  }
}

@media screen and (max-width: 1199px) {
  .cards__container {
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 0;
  }
}

@media screen and (max-width: 779px) {
  .cards__container {
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 0;
  }
}

@media screen and (max-width: 639px) {
  .cards__container {
    grid-template-columns: 1fr;
    padding-bottom: 0;
  }
}
