@import '../../assets/colors/colors';

.Actions {
  min-width: 290px;

  &__header {
    margin-bottom: 8px;

    font-size: 12px;
    font-weight: 600;
    color: $secondary;

    &Id {
      display: flex;
      justify-content: space-between;
    }
  }

  &__itemId {
    font-size: 12px;
    font-weight: 700;
    color: $icons;
  }

  &__colors {
    position: relative;

    margin-bottom: 24px;

    &::after {
      position: absolute;

      display: block;
      width: 100%;
      height: 1px;
      margin-bottom: 24px;

      background-color: $elements;
      border-radius: 8px;

      content: '';
    }
  }

  &__color {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: 0 8px 24px 0;
    border-radius: 50%;

    --after-background-color: transparent;
    background-color: var(--after-background-color);

    cursor: pointer;

    &::after {
      position: absolute;

      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      content: '';
      border: 1px solid whitesmoke;
      border-radius: 50%;
      width: 30px;
      height: 30px;
      color: $white;
    }

    &--active {
      &::after {
        border-color: $primary;
      }
    }
  }

  &__capacity {
    position: relative;

    margin-bottom: 24px;

    &::after {
      position: absolute;

      display: block;
      width: 100%;
      height: 1px;

      background-color: $elements;
      border-radius: 8px;
      content: '';
    }
  }

  &__capacityButton {
    text-decoration: none;
    color: black;

    display: inline-block;
    margin: 0 8px 24px 0;
    padding: 8px;

    font-size: 14px;
    line-height: 21px;
    font-weight: 500;

    border: 1px solid $icons;
    border-radius: 4px;

    cursor: pointer;

    &--active {
      color: $white;

      background-color: $primary;
      border: 0;
    }

    &--last {
      margin-right: 0px;
    }
  }

  &__price {
    display: inline-block;
    margin: 0 8px 16px 0;

    font-size: 32px;
    line-height: 41px;
    font-weight: 800;

    &Crossed {
      font-size: 22px;
      line-height: 28px;
      font-weight: 500;
      color: $secondary;
      text-decoration: line-through;
    }
  }

  &__productButtons {
    display: flex;
    gap: 8px;
    margin-bottom: 32px;
  }

  &__characteristics {
    display: flex;
    flex-direction: column;
    gap: 8px;

    &Left {
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-self: stretch;

      font-style: normal;
      font-size: 12px;
      line-height: 15px;
      font-weight: 600;
      color: $secondary;
    }

    &Right {
      font-style: normal;
      font-size: 12px;
      line-height: 15px;
      font-weight: 700;
      color: $primary;
    }
  }
}

.Button__add {
  display: flex;
  height: 40px;
  flex: 1 0 0;
  justify-content: center;
  align-items: center;

  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
  text-decoration: none;

  background: $accent;
  border: 0;
  border-radius: 48px;

  transition: 0.3s;

  cursor: pointer;

  &:hover {
    box-shadow: 0px 3px 13px 0px rgba(23, 32, 49, 0.4);
  }

  &--active {
    background-color: $white;
    color: $accent;
    border: 1px solid $elements;
    box-shadow: none;

    transition: 0.3s;
  }

  &--disabled {
    background-color: $secondary;
    opacity: 0.5;
  }
}

.Button__like {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;

  background-color: $white;
  border: 1px solid $elements;
  border-radius: 48px;

  transition: 0.2s;

  cursor: pointer;

  &:hover {
    border-color: $primary;
  }

  &--disabled {
    background-color: $secondary;
    opacity: 0.5;
  }
}
